.ground {
	position: relative;
	height: 20vh;
	.road {
		position: absolute;
		top: 2vh;
		height: 15vh;
		width: 100%;
		background-color: gray;
	}
	.grass {
		position: absolute;
		top: 0;
		height: 20vh;
		width: 100%;
		background-color: green;
		.fence {
			position: relative;
			.tree {
				position: absolute;
				top: -13px;
				height: 30px;
				width: 70px;
				background-color: green;
				border-radius: 25px 25px 20px 0;
				&:nth-child(2) {
					top: -18px;
					left: 30px;
					width: 50px;
					border-radius: 25px 25px 25px 0;
				}
			}
		}
	}
}
