.sky {
	position: relative;
	height: 60vh;
	width: 100%;
	background-color: royalblue;
	.sun {
		position: absolute;
		top: 5%;
		left: 10%;
		width: 100px;
		height: 100px;
		background-color: goldenrod;
		border-radius: 50%;
		box-shadow: 0 0 100px 50px goldenrod;
	}
}
